__pycache__/
*.pyc
venv/
.cache/
runs/
sweeps/
gates_out/
*.pt
*.pth
*.ckpt
*.npy
.ipynb_checkpoints/
baseline_maps.zip
DRAEM+DTD/
sessionB_unpacked/
bundle.zip
sessionC_unpacked/
concreteC1_unpacked/
concrete_results.zip
concrete_ckpts.zip
